<%- include('./partials/head') %>

<div class="mirror">
  <div class="row-1">
    <div class="foto">
      <img src="\img\329956112_874343367151843_6905663238639271508_n.jpg" />
    </div>
    <div class="about">
      <h4>About</h4>
      <p>
        Hello! The name is Judith Oostrom, a dutch student for front-end design.
        I was born in Amsterdam on the 23th of May 1997, my current hometown is
        Wormerveer.
      </p>
    </div>
  </div>
  <div class="row-2">
    <div class="skills">
      <h4>My skillset</h4>
      <p>
        My skillset consists of basic HTML, CSS and Javascript. Furthermore I'm
        also advanced with Wordpress. In terms of language; I speak dutch
        (fluent), english (almost fluent) and a little bit german. I (mostly)
        understand the german and french language too.
      </p>
    </div>
    <div class="hobbies">
      <h4>Hobbies</h4>
      <p>
        I have perticular interests regarding hobbies. Mostly spiritual
        practices like Tarot, Oracle, Color theories, etc. I like to combine
        spiritual practices with psychology (mostly to understand people better)
        Cosy gaming is also one of my favorites. Games like Animal Crossing or
        my favorite franchise: The Pokemon Francise. Since I like broadening my
        creative outlets I also like coding and design. At this point I am
        trying to design twitch emotes.
      </p>
    </div>
  </div>

  <div class="footer">
    <h3>Contact</h3>
    <div class="socials">
      <a href="tel:0636069010"> <img src="\img\phone-icon-928.png" /></a>
      <a href="https://www.linkedin.com/in/judith-oostrom-0673a0241/"
        ><img src="\img\104493_linkedin_icon.png"
      /></a>
      <a href="https://nl.pinterest.com/LunarPhoenixx/"
        ><img src="\img\104430_pinterest_icon.png"
      /></a>
    </div>
  </div>
</div>
<%- include('./partials/foot') %>
